
 btn-success{
 	background-color: pink: 
 }



/*.container {
	background-image: url("../img/fond1.jpg");
	width: 100px;
	height: 200px;
	background-size: cover;
}*/
.btn{
	background-color: yellow;
}
/*hover a{
	background-color: red;
}*/